<div class="game-selection">
    <h1>Izaberi Igru</h1>
    <div class="game-description">
      <h2>Ko zna zna</h2>
      <p>Ova igra je kviz u kojem testiraš svoje znanje kroz razna pitanja i odgovore. Pokušaj da postigneš što veći skor!</p>
      <button (click)="goToKoznaZna()">Igraj Ko zna zna</button>
    </div>
    
    <div class="game-description">
      <h2>Asocijacije</h2>
      <p>U ovoj igri povezuješ termine i rešenja, otkrivajući skrivene reči i rešenja. Pronađi sve asocijacije!</p>
      <button (click)="goToAsocijacije()">Igraj Asocijacije</button>
    </div>
  </div>